#fond{
  height: 100%;
  width: 100%;
  top: 10%;
  text-align: center;
  background-color:#15172b;
  padding-top: 5%;
}

#block1{
  height: 80%;
  width: 40%;
  top: 18%;
  text-align: center;
  background-color:#15172b;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1{
    color:white;
    font-family: DejaVu Sans Mono, monospace;
}

#fname{
  margin-top: 50px;
  background-color: #303245;
  color:white;

}
#mail{
  background-color: #303245;
  color:white;

}
#subject{
  background-color: #303245;
  color:white;
}



input[type=text], textarea {
  width: 100%; 
  padding: 12px;
  border: 1px solid #303245;
  border-radius: 10px;
  box-sizing: border-box; 
  margin-top: 25px; 
  margin-bottom: 20px; 
  resize: vertical



}


input[type=submit] {
  margin-top: 20px;
  margin-left: 50px;
  background-color: #08d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


input[type=submit]:hover {
  border: 1px solid white;
  color: white;
}


