body{
    font-family: DejaVu Sans Mono, monospace;
    background-color: #15172b;
}

/* Add a black background color to the top navigation */
  .topnav {
  overflow: hidden;
  font-size: 20px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }

  div.bordure {
    border-bottom:1px solid white;
    padding-top: 0.5%;
    }

  
  /* Change the color of links on hover */
  .topnav a:hover {
  color: #08d;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
  color: white;
  border-radius: 30px;
  }
  
  .topnav a.partielogo {
     height: 1em;
     border-radius: 30px;
  }
  
  
  /* Right-aligned section inside the top navigation */
  .topnav-right {
  float: right;
  }
 
  .titre {
    font-size: 30px;
    margin-left: 2em;
    margin-right: 2em;
    color: white;
  }
    
   .titre h1:hover {
       color: #08d;
  }

  .button-9 {
    appearance: button;
    backface-visibility: hidden;
    background-color: #08d;
    border-radius: 6px;
    border-width: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
  }
  
  .button-9:disabled {
    cursor: default;
  }
  
  .button-9:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
  }
  

