#banner{
    float: left;
    margin-top: 5%;
}

#tableaucrypto{
    color: white;
    text-align: center;
}

@import "bourbon@5.*";
 body {
	 background-color: #E7DFCC;
}
 #banner {
	 margin-top: 5%;
	 float: left;
}
 #tableaucrypto {
	 color: white;
	 text-align: center;
}
 html {
	 box-sizing: border-box;
}
 *, *:before, *:after {
	 box-sizing: inherit;
}
 body {
	 color: white;
}
 a {
	 color: rgba(38, 137, 13, 1);
}
 a:hover, a:focus {
	 color: rgba(4, 106, 56, 1);
}
 .container {
	 margin: 5% 3%;
}
 @media (min-width: 48em) {
	 .container {
		 margin: 2%;
	}
}
 @media (min-width: 75em) {
	 .container {
		 margin: 2em auto;
		 max-width: 99%;
	}
}
 .responsive-table {
	 width: 100%;
	 margin-bottom: 1.5em;
	 border-spacing: 0;
}
 @media (min-width: 48em) {
	 .responsive-table {
		 font-size: 0.9em;
	}
}
 @media (min-width: 62em) {
	 .responsive-table {
		 font-size: 1.5em;
	}
}
 .responsive-table thead {
	 position: absolute;
	 clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	 padding: 0;
	 border: 0;
	 height: 1px;
	 width: 1px;
	 overflow: hidden;
}
 @media (min-width: 48em) {
	 .responsive-table thead {
		 position: relative;
		 clip: auto;
		 height: auto;
		 width: auto;
		 overflow: auto;
	}
}
 .responsive-table thead th {
	 background-color: #08d;
	 border: 1px solid white;
	 font-weight: normal;
	 text-align: center;
	 color: white;
}
 .responsive-table thead th:first-of-type {
	 text-align: center;
}
 .responsive-table tbody, .responsive-table tr, .responsive-table th, .responsive-table td {
	 display: block;
	 padding: 0;
	 text-align: left;
	 white-space: normal;
}
 @media (min-width: 48em) {
	 .responsive-table tr {
		 display: table-row;
	}
}
 .responsive-table th, .responsive-table td {
	 padding: 0.5em;
	 vertical-align: middle;
}
 @media (min-width: 30em) {
	 .responsive-table th, .responsive-table td {
		 padding: 0.75em 0.5em;
	}
}
 @media (min-width: 48em) {
	 .responsive-table th, .responsive-table td {
		 display: table-cell;
		 padding: 0.5em;
	}
}
 @media (min-width: 62em) {
	 .responsive-table th, .responsive-table td {
		 padding: 0.75em 0.5em;
	}
}
 @media (min-width: 75em) {
	 .responsive-table th, .responsive-table td {
		 padding: 0.75em;
	}
}
 .responsive-table caption {
	 margin-bottom: 1em;
	 font-size: 1em;
	 font-weight: bold;
	 text-align: center;
}
 @media (min-width: 48em) {
	 .responsive-table caption {
		 font-size: 1.5em;
	}
}
 .responsive-table tfoot {
	 font-size: 0.8em;
	 font-style: italic;
}
 @media (min-width: 62em) {
	 .responsive-table tfoot {
		 font-size: 0.9em;
	}
}
 @media (min-width: 48em) {
	 .responsive-table tbody {
		 display: table-row-group;
	}
}
 .responsive-table tbody tr {
	 margin-bottom: 1em;
}
 @media (min-width: 48em) {
	 .responsive-table tbody tr {
		 display: table-row;
		 border-width: 1px;
	}
}
 .responsive-table tbody tr:last-of-type {
	 margin-bottom: 0;
}
 @media (min-width: 48em) {
	 .responsive-table tbody tr:nth-of-type(even) {
		 background-color: rgba(0, 0, 0, .12);
	}
}
 .responsive-table tbody th[scope="row"] {
	 background-color: #08d;
	 color: white;
}
 @media (min-width: 30em) {
	 .responsive-table tbody th[scope="row"] {
		 border-left: 1px solid white;
		 border-bottom: 1px solid white;
	}
}
 @media (min-width: 48em) {
	 .responsive-table tbody th[scope="row"] {
		 background-color: transparent;
		 color: rgba(0, 0, 1, );
		 text-align: left;
	}
}
 .responsive-table tbody td {
	 text-align: right;
}
 @media (min-width: 48em) {
	 .responsive-table tbody td {
		 border-left: 1px solid white;
		 border-bottom: 1px solid white;
		 text-align: center;
	}
}
 @media (min-width: 48em) {
	 .responsive-table tbody td:last-of-type {
		 border-right: 1px solid white;
	}
}
 .responsive-table tbody td[data-type=currency] {
	 text-align: center;
}
 .responsive-table tbody td[data-title]:before {
	 content: attr(data-title);
	 float: left;
	 font-size: 0.8em;
	 color: rgba(0, 0, 0, .54);
}
 @media (min-width: 30em) {
	 .responsive-table tbody td[data-title]:before {
		 font-size: 0.9em;
	}
}
 @media (min-width: 48em) {
	 .responsive-table tbody td[data-title]:before {
		 content: none;
	}
}
.button-green{
  width: 70px;
  height: 30px;
  border-radius: 36px;
  box-shadow: 0 -5px 16px -4px rgba(0, 167, 254, 0.1), 0 5px 8px 1px rgba(93, 211, 109, 0.2);
  background: linear-gradient(#26C778 0%, #32CA76 67%, #5DD36D 100%);;
  color: #FFF;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Poppins', sans-serif;
  position:relative;
  cursor:  pointer;
}

.button-red{
  width: 70px;
  height: 30px;
  border-radius: 36px;
  box-shadow: 0 -5px 8px -4px rgba(255, 0, 0, 0.1), 0 5px 8px 1px rgba(247, 147, 30, 0.2);
  background: linear-gradient(#FF3038 0%, #FF3829 67%, #FF4314 100%);;
  color: #FFF;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Poppins', sans-serif;
  position:relative;
  cursor:  pointer;
}
